/**
* Frontend CSS
*
* @package    Birds_Authorbox
* @subpackage birds-author-box/public/css
* @since      1.0.0
*/

/**
* Icons
*/
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'b_ab_icons';
    src: url('../font/b_ab_icons.eot?49913517');
    src: url('../font/b_ab_icons.eot?49913517#iefix') format('embedded-opentype'),
        url('../font/b_ab_icons.woff?49913517') format('woff'),
        url('../font/b_ab_icons.ttf?49913517') format('truetype'),
        url('../font/b_ab_icons.svg?49913517#b_ab_icons') format('svg');
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    display: inline-block;
    margin-right: .2em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    width: 1em;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    font-family: "b_ab_icons" !important;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    speak: none;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */;
}

.icon-ab-paper-plane:before {
    content: '\e800';
}

.icon-ab-pencil:before {
    content: '\e801';
}

.icon-ab-globe:before {
    content: '\e802';
}

.icon-ab-graduation-cap:before {
    content: '\e803';
}

.icon-ab-attach:before {
    content: '\e804';
}

/**
* Boxes
*/
.author_box_tabs > ul {
    margin: -1px 0 0 0;
}

.author_box_tabs {
    position: relative;
    margin: 25px 0;
    padding-top: 25px;
    width: 100%;
    border-top: 1px solid #dadada;
}

.author_box_tabs nav {
    -webkit-overflow-scrolling: touch;
    background: transparent;
    margin-bottom: -47px;
}

.author_box_tabs_navigation {
    margin: 0;
    list-style-type: none;
}

.author_box_tabs_navigation:after {
    display: table;
    clear: both;
    content: "";
}

.author_box_tabs_navigation li {
    float: left;
    color: #666;
    font-size: 1.2em;
}

.author_box_tabs_navigation a {
    position: relative;
    display: block;
    padding: 7px 20px;
    border-top: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-bottom: none !important;
    border-left: 1px solid #dadada;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    color: #ccc;
    /*height: 60px;
    width: 60px;*/
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.author_box_tabs_navigation a:focus {
    outline: 0;
}


.author_box_tabs_content {
    margin-top: -1px;
    border: 1px solid #dadada;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

.author_box_tabs_content li {
    display: none;
    padding: 1.4em;
}

.author_box_tabs_content li.selected {
    display: block;
    -webkit-animation: cd-fade-in 2.5s;
    -moz-animation: cd-fade-in 2.5s;
    animation: cd-fade-in 2.5s;
}

.author_box_tabs_content li p {
    margin: 5px 0 12px 0;
    font-size: 14px;
    line-height: 21px;
}

@-webkit-keyframes cd-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes cd-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes cd-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/**
* Inner
*/
img.birds_box_avatar {
    float: left;
    margin: 0 20px 10px 0;
    width: 100px !important;
    height: 100px !important;
}

span.by_text {
    font-size: 18px;
}

span.h4_text {
    font-size: 18px;
}

.birds_box_text p {
    margin: 5px 0 12px 0;
    font-size: 14px;
    line-height: 21px;
}

a.social_icon {
    display: inline-block;
    border: 0 !important;
}

a.social_icon > img {
    margin-bottom: 2px;
    width: 32px;
    height: 32px;
}

a.box_links {
    border: 0 !important;
    text-decoration: none;
    font-size: 16px;
}

a.box_links_2 {
    border: 0 !important;
    text-decoration: none;
    font-size: 14px;
}

li[data-content="bio"] > p, li[data-content="social"] > p, li[data-content="lposts"] > p {
    margin-left: 150px;
}

li[data-content="bio"] {
    min-height: 100px;
}
@media only screen and (max-width: 40em) {
    li[data-content="bio"] > p, li[data-content="social"] > p, li[data-content="lposts"] > p {
            margin-left: 0;
        }
}
